* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* border:1px solid red; */
}

body {
  color: #cbc9cf;
  background-color: #2b2733;
  /* background-image: url('./DOCS/CompImages/zero-state-desktop.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-origin: content-box; */
}

header {
  background-color: #46424d;
  text-align: center;
  padding: 1% 0%;
  font-weight: 300;
  font-size: 1em;
  color: #fff;
}

main {
  padding: 0% 2%;
  display: grid;
  grid-template-columns: 65.5% 1fr;
  grid-template-areas:
    'header1 header2'
    'left right';
}

.main__left__header,
.main__right__header {
  display: grid;
  align-items: center;
  height: 8vh;
  padding-top:1%;
  letter-spacing:-1.4px;
}
.main__left__header {
  grid-area: 'header1';
}

.main__right__header {
  grid-area: 'header2';
  padding-left: 6%;
}

.main__right__header,
.main__section__right {
  border-left: 3px solid  #46424d
}

.main__section__left {
  grid-area: 'left';
  border-radius:5px;
  background-color: rgba(70, 66, 77,1);
  margin-right: 3%;
  padding: 5% 12.5%;
  height:80vh;
  min-height: 100%;
}
.button-div {
  width: 100%;
  margin:2.2vh 0 7vh 0;
  display: flex;
  justify-content: space-between;
}

.button-div button {
  width: 155px;
  height: 65px;
  background-position: center top;
  background-size: 25px;
  border: 2px solid #CBC9CF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: rgba(70, 66, 77,1);
  font-size: 18px;
  padding: 9px 0 6px 0;
  color: #CBC9CF;
  text-decoration:none;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

.study-btn {
  background-image: url('./assets/study.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
}

.meditate-btn {
  background-image: url('./assets/meditate.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
}

.exercise-btn {
  background-image: url('./assets/exercise.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
}

input {
  background-color: rgba(70, 66, 77,1);
  font-size: 1.2em;
  min-height: 1.5em;
  border-bottom:1px solid #cbc9cf;
  color: #cbc9cf;
}
.input:focus {
  outline: none !important;
}

.task-input {
  width: 100%;
  margin-top: 2%;
}

label {
  font-size: 1.1em;
}

.min-sec-div{
  display:flex;
  justify-content: space-between;
  margin-top:7.5vh
}

.minutes, .seconds {
  display:flex;
  flex-direction: column;
  width:43%;
  margin-bottom:2vh;
}
.time-input{
  padding:8px;
}
.main__section__right {
  grid-area: 'right';
  padding: 2%;
  text-align: center;
  line-height: 1.9em;
}

.main__section__right p {
  letter-spacing: -.5px;
  margin-left:5px;
}

.start-btn{
  color: #46424D;
  background-color: #CBC9CF;
  border-radius: 4px;
  width: 32%;
  margin-left: 66.5%;
  margin-top: 6.5%;
  height: 35px;
  font-size: 90%;
}

.button-div .study-selected {
  border:2px solid #B3FD78;
  color:#B3FD78;
  background-image: url('./assets/study-active.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
}

.button-div .meditate-selected {
  border:2px solid #C278FD;
  color:#C278FD;
  background-image: url('./assets/meditate-active.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
}

.button-div .excercise-selected {
  border:2px solid #FD8078;
  color:#FD8078;
  background-image: url('./assets/exercise-active.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
}

.hidden {
  display:none;
}

button:focus {outline:0;}